.mw-indicator a.mw-speclink,
.mw-indicator span.mw-speclink {
	background-position: left bottom;
	background-repeat: no-repeat;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding-left: 28px;
}

.client-nojs .mw-pickle-console {
	display: none;
}

.mw-pickle-console .oo-ui-fieldLayout-field {
	width: 100%
}

.mw-pickle-console {
	background-color: #eaecf0;
	border: 1px solid #c8ccd1;
	padding: 1em 1em 1em 1em;
	margin-bottom: 2em;
}

.mw-pickle-console-view {
	margin-top: 2em;
}

.mw-pickle-console-fieldset {
	margin-top: 0;
}
.mw-pickle-console-output > div {
	border-radius: 0.3em;
	padding: 0.4em 0.8em;
	white-space: pre-line;
}
