#mw-spec-console-output div {
    border-radius: 0.3em;
    padding: 0.4em 0.8em;
    margin-bottom: 0.8em;
}

#mw-spec-console-output .mw-spec-console-neutral {
    background-color: #f0f0f0;
    border: 1px solid #c0c0c0;
}

#mw-spec-console-output .mw-spec-console-bad {
    background-color: #fff0f0;
    border: 1px solid #ffc0c0;
}

#mw-spec-console-output .mw-spec-console-good {
    background-color: #f0fff0;
    border: 1px solid #c0ffc0;
}

.mw-spec-console-transient {
    font-style: italic;
}