.mw-pickle-console-output .mw-pickle-console-neutral {
	background-color: #f0f0f0;
	border: 1px solid #c0c0c0;
}

.mw-pickle-console-output .mw-pickle-console-bad {
	background-color: #fff0f0;
	border: 1px solid #ffc0c0;
}

.mw-pickle-console-output .mw-pickle-console-good {
	background-color: #f0fff0;
	border: 1px solid #c0ffc0;
}

.mw-pickle-console-transient {
	font-style: italic;
}
